@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar{
    height: 7,
  }
  ::-webkit-scrollbar-thumb{
    background: 'rgba(75, 135, 197, 0.9)';
    border-radius: 10;
    border: '2px solid transparent';
    background-clip: 'padding-box';
  }
  ::-webkit-scrollbar-thumb:hover{
    background: 'rgba(75, 135, 197, 0.9)';
  }

  ::-webkit-scrollbar-track{
    background: 'transparent'
  }
}
